@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white; 
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
}
#backMenu{
    background-color:skyblue;
    border: 5px outset rgb(89, 161, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    margin-right: 10px;
}

a:link,
a:visited,
a:hover,
a:active { text-decoration: none;
    color: rgb(248, 248, 248);
    cursor:pointer;
}
/*Flag content*/
#flagsContainer{
    background-image:linear-gradient(200deg, rgba(214, 214, 214, 0.486), rgba(228, 228, 228, 0.664)), url("https://media.istockphoto.com/vectors/black-outlined-world-map-vector-id936410448?k=20&m=936410448&s=612x612&w=0&h=zV3IsMGqiFvWgO8nMlbNbqM2GUWv7ITaRBfyU4mw8Ss="); 
    background-size:cover;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position:center;
    background-color:rgb(248, 248, 248);
    border-radius: 5px;
    width: 700px;
    height: 380px;
    padding: 20px;
}

/*
button {
    all: unset;
    cursor: pointer;
    background-color: Transparent;
  }
*/
#countryname{
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 52, 66);
    font-size: 35px;
    border-radius: 5px;
}
.flags{
    height: 80px;
    width: 120px;
    margin: 25px 27px;
}

.flags:hover {
    outline: 4px solid rgb(160, 151, 153);
}


/*Phone*/
@media(max-width: 600px){

    #countryname{
        font-size: 30px;
    }
    #flagsContainer{
        width: 320px;
        height: 650px;
        padding:0px
    }
    .flags{
        height: 65px;
        width: 105px;
        margin: 20px 26px;
    }
    #countryname{
        font-size: 35px;
    }
}


/*Min*/
@media(max-height: 500px){
    #flagsContainer{
        background-color:azure;
        width: 450px;
        height: 220px;
        padding:0px;
    }
    .flags{
        height: 50px;
        width: 75px;
        margin: 10px 18px;
    }
}